.feature-card1-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card1-text {
  font-weight: 600;
  line-height: 28px;
}
@media(max-width: 767px) {
  .feature-card1-feature-card {
    flex-direction: row;
  }
  .feature-card1-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card1-container {
    flex-direction: column;
  }
}

.question11-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question11-text {
  font-weight: 700;
}

@media(max-width: 767px) {
  .question11-root-class-name {
    align-self: flex-start;
  }
}

.games-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-custom-neutral-dark);
}
.games-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.games-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-custom-neutral-dark);
}
.games-link {
  display: contents;
}
.games-image {
  height: 3.5rem;
  text-decoration: none;
}
.games-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.games-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.games-link01 {
  color: var(--dl-color-custom-neutral-light);
  text-decoration: none;
}
.games-link02 {
  color: var(--dl-color-custom-neutral-light);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.games-link03 {
  color: var(--dl-color-custom-neutral-light);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.games-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.games-register {
  text-decoration: none;
  background-color: var(--dl-color-custom-primary1);
}
.games-burger-menu {
  display: none;
}
.games-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.games-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.games-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.games-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.games-navlink {
  display: contents;
}
.games-logo {
  height: 2rem;
  text-decoration: none;
}
.games-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.games-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.games-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.games-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.games-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.games-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.games-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.games-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.games-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.games-register1 {
  text-decoration: none;
}
.games-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.games-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.games-hero-heading {
  color: #ffffff;
  max-width: 800px;
  text-align: center;
}
.games-text10 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
.games-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.games-hero-button1 {
  text-decoration: none;
}
.games-hero-button2 {
  text-decoration: none;
}
.games-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.games-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.games-container02 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.games-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.games-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.games-container03 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.games-feature-card1 {
  text-decoration: none;
}
.games-feature-card2 {
  text-decoration: none;
}
.games-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.games-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.games-container04 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.games-text31 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.games-text32 {
  text-align: left;
}
.games-container05 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.games-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  justify-content: center;
  background-color: var(--dl-color-custom-neutral-dark);
}
.games-image1 {
  width: 35%;
  height: auto;
  object-fit: cover;
}
.games-banner {
  width: 65%;
  height: auto;
}
.games-banner-heading {
  color: #ffffff;
  text-align: center;
}
.games-text35 {
  color: rgb(194, 194, 194);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: 0px;
}
.games-banner-button {
  text-decoration: none;
}
.games-banner1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.games-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.games-banner-heading1 {
  color: #ffffff;
  text-align: center;
}
.games-text41 {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.games-banner-button1 {
  text-decoration: none;
}
.games-container08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.games-link09 {
  display: contents;
}
.games-image2 {
  height: 5rem;
  text-decoration: none;
}
.games-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.games-nav1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.games-nav5 {
  color: #ffffff;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.games-nav51 {
  color: #ffffff;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.games-nav52 {
  color: #ffffff;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.games-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.games-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.games-text47 {
  color: #ffffff;
}
@media(max-width: 991px) {
  .games-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    background-color: var(--dl-color-custom-neutral-dark);
  }
  .games-image {
    height: 3.5rem;
  }
  .games-links {
    justify-content: flex-end;
  }
  .games-link01 {
    color: rgb(255, 255, 255);
  }
  .games-link02 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .games-link03 {
    color: rgb(255, 255, 255);
    margin-right: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .games-register {
    background-color: var(--dl-color-custom-primary1);
  }
  .games-mobile-menu {
    background-color: var(--dl-color-custom-neutral-dark);
  }
  .games-logo {
    height: 3.5rem;
  }
  .games-close-menu {
    width: 25px;
    height: 25px;
  }
  .games-icon2 {
    fill: var(--dl-color-custom-neutral-light);
    width: 25px;
    height: 25px;
  }
  .games-link04 {
    color: var(--dl-color-custom-neutral-light);
  }
  .games-link05 {
    color: var(--dl-color-custom-neutral-light);
  }
  .games-link06 {
    color: var(--dl-color-custom-neutral-light);
    text-decoration: none;
  }
  .games-register1 {
    background-color: var(--dl-color-custom-primary1);
  }
  .games-hero1 {
    flex-direction: column;
  }
  .games-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .games-hero-heading {
    text-align: center;
  }
  .games-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .games-text32 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .games-container06 {
    width: 100%;
    align-self: center;
  }
  .games-banner {
    height: auto;
    justify-content: center;
  }
  .games-text35 {
    color: rgb(194, 194, 194);
    text-align: center;
  }
  .games-image2 {
    height: 5rem;
  }
  .games-nav1 {
    color: rgb(255, 255, 255);
    align-self: stretch;
    margin-right: 0px;
  }
  .games-nav5 {
    align-self: center;
  }
  .games-nav51 {
    align-self: center;
  }
  .games-nav52 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .games-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .games-desktop-menu {
    display: none;
  }
  .games-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .games-icon {
    fill: var(--dl-color-custom-neutral-light);
    width: 25px;
    height: 25px;
  }
  .games-mobile-menu {
    background-color: var(--dl-color-custom-neutral-dark);
  }
  .games-logo {
    height: 3.5rem;
  }
  .games-link04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-link05 {
    color: var(--dl-color-custom-neutral-light);
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-text05 {
    color: var(--dl-color-custom-neutral-light);
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-link06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .games-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .games-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .games-container03 {
    grid-template-columns: 1fr;
  }
  .games-faq1 {
    flex-direction: column;
  }
  .games-container04 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .games-text32 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .games-container06 {
    background-color: #161616;
  }
  .games-image1 {
    width: 50%;
    height: 50%;
  }
  .games-banner {
    height: auto;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .games-banner2 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .games-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .games-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .games-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .games-text47 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .games-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .games-mobile-menu {
    padding: 16px;
  }
  .games-hero1 {
    margin-top: var(--dl-space-space-sixunits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .games-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-text10 {
    align-self: center;
    text-align: center;
  }
  .games-btn-group {
    flex-direction: column;
  }
  .games-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .games-container06 {
    width: auto;
    height: auto;
    flex-direction: column;
  }
  .games-image1 {
    width: 60%;
    height: auto;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .games-banner {
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .games-banner-button {
    background-color: var(--dl-color-custom-neutral-light);
  }
  .games-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .games-text41 {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .games-footer {
    padding: var(--dl-space-space-unit);
  }
  .games-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .games-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .games-text47 {
    text-align: center;
  }
}
