/* Main page formatting */
html,
body {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #222;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    --main-color: #11101d;
    --color-dark: #1d2231;
    --text-grey: #8390a2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin: 0;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    height: 80px;
    width: 1440px;
    max-width: 1440px;
    grid-row: 1;
    z-index: 1000;
}

main {
    padding: 2rem 1.5rem;
    padding-top: 80px;
    background: #f1f5f9;
    min-height: calc(100vh - 70px);
    max-width: 1440px;
    grid-row: 2;
    overflow-y: auto;
    overflow-x: hidden;
    width: 1440px;
}

/* Text styles */
a {
    color: black;
}

header h2 {
    color: #222;
}

header div h2,
header div small {
    line-height: 1.2; /* Adjust as needed */
}

/* Header and main body things */
.user-wrapper {
    display: flex;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#guess {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#score-box {
    top: 10px;
    right: 10px;
    z-index: inherit;
    background-color: #3498db;
    color: #fff;
    align-self: right;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Popup box stuff */
#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999998;
}

.popupWrapper {
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(52, 152, 219);
    padding: 25px;
    color: #fff;
    text-align: center;
    z-index: 1000000;
    border-radius: 8px;
    display: none;
}

.close-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
}

#map-overlay {
    display: none;
    width: 100%;
    height: 100%;
}

#results-overlay {
    background-color: transparent;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 40%;
    max-width: 500px;
    min-width: 285;
}

#results-overlay h5 {
    font-size: 2em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons > button:only-child {
    margin: auto;
}

#results-overlay span {
    font-size: 5em;
    font-weight: bold;
    display: inline-block;
    vertical-align: baseline;
    line-height: 1;
    margin-bottom: 35px;
}

#results-overlay p {
    vertical-align: baseline;
    font-size: 1.5em;
}

#results-overlay button {
    padding: 10px 20px;
    font-size: 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

/* Tiles for game components */
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 375px 130px 300px 70px;
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card {
    overflow: auto;
    justify-content: space-between;
    background: #fff;
    color: black;
    padding: 1.2rem;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
    position: relative;
}

#card-big-image {
    grid-column: 1;
    grid-row: 1 / span 4;
}

#card-single-map {
    grid-column: 2;
    grid-row: 1 / span 2;
    height: 375px;
}

#card-single-year {
    display: block;
    grid-column: 2;
    grid-row: 2;
    height: 130px;
    overflow: hidden;
}

#card-single-result {
    display: none;
    overflow-x: hidden;
    grid-column: 1;
    grid-row: 1;
    height: 400px;
}

#card-single-quiz {
    grid-column: 2;
    grid-row: 3;
    min-height: 300px;
}

#card-guess-button {
    height: 70px;
    grid-column: 2;
    grid-row-start: 4;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #0099ff;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

/* When showing scores, after round is over */
.in-round .cards {
    grid-template-rows: 400px 300px 70px;
}

.in-round #card-big-image {
    height: 400px;
    grid-column: 2;
    grid-row: 1 2;
}

.in-round #card-single-map {
    grid-column: 1;
    grid-row: 2 / span 4;
    height: 400px;
}

.in-round #card-single-year {
    display: none;
}

.in-round #card-single-result {
    display: flex;
    flex-direction: column;
}

.in-round #card-single-quiz {
    grid-column: 2;
    grid-row: 2;
}

.in-round #card-guess-button {
    grid-column: 2;
    grid-row: 3;
}

.in-round #map {
    height: 312px;
}

/* When showing final results, after game is over */
.end-game .cards {
    display: none;
}

.end-game #map-overlay {
    display: block;
}

.end-game main {
    height: calc(100vh - 70px);
}

.end-game #overlay {
    display: block;
}

.end-game #results-overlay {
    display: flex;
}

/* Footer */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.footer-content .round-progress {
    display: none;
    justify-content: space-between;
    width: 100%;
}

.end-game .footer-content .round-progress {
    display: flex;
}

.footer-content .end-review-btn {
    margin-left: auto;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 195px;
    background-color: #333;
    color: white;
}

.footer-content .rounds-progress {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.end-game .footer-content .rounds-progress {
    display: none;
}

.footer-content .copyright {
    font-size: 0.8em;
    color: #666;
}

.copyright a {
    color: #666;
}

.round-progress-text {
    color: #666;
}

.score-bubbles {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.score-bubble {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #333;
    position: relative;
    margin-right: 10px;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.score-bubble::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    width: 10px;
    height: 2px;
    background-color: #ccc;
    z-index: -1;
}

.score-bubble:first-child::before {
    display: none;
}

.score-bubble.inactive {
    background-color: #585858;
    color: #fff;
}

.score-bubble.active {
    background-color: #333;
    color: #fff;
}

/* Individual game components */
#image-container,
#image {
    display: block;
    overflow: hidden;
}

#image-container {
    height: calc(100% - 50px);
}

#map {
    height: 285px;
    z-index: 900;
}

.end-game #map {
    height: 100%;
    width: 100%;
}

.quiz {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.option:hover {
    transform: scale(1.02);
}

.option input[type='radio'] {
    margin-right: 10px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}

#bubble {
    background-color: white;
    border: 1.5px solid #222;
    color: #222;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    bottom: 62px;
    transform: translateX(-50%);
}

/* Results Tile */
#result-box {
    display: grid;
    gap: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    min-width: 220px;
}

.score-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    text-align: center;
    min-width: 200px;
    background-color: #e8e8e8;
    border-radius: 10px;
}

.score-tile h5 {
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #333;
}

.score-tile p {
    font-size: 1.5em;
    color: #666;
}

.score-tile span {
    font-weight: bold;
    color: #333;
}

/* Intro menu */
.popupWrapper h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.game-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.game-steps {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.game-steps li {
    margin-bottom: 20px;
}

.game-steps h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.game-steps p {
    font-size: 16px;
}

.game-ready {
    font-size: 18px;
    margin-bottom: 20px;
}

.start-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.start-btn:hover {
    background-color: #45a049;
}

/* Responsiveness for window resizing tiles */
@media only screen and (max-width: 1440px) {
    main,
    header {
        width: 100vw;
        margin-left: 0px;
        left: 0px;
    }
}

@media only screen and (max-width: 850px) {
    .cards {
        grid-template-columns: 100%;
        grid-template-rows: auto 375px 130px 300px 70px;
        height: auto;
    }

    .in-round .cards {
        grid-template-rows: 400px auto 400px 300px 70px;
    }

    .in-round #card-single-result {
        grid-row: 1;
    }

    .in-round #card-big-image {
        height: auto;
        max-height: 1000px;
    }

    #card-big-image,
    #card-single-map,
    #card-single-year,
    #card-single-quiz,
    #card-guess-button,
    .in-round #card-big-image,
    .in-round #card-single-map,
    .in-round #card-single-quiz,
    .in-round #card-guess-button {
        grid-column: 1;
        grid-row: auto;
    }

    /* #result-box {
        grid-template-columns: repeat(2, 1fr);
    } */
}

/* Dark mode colors */
.dark-mode {
    --main-color: #ddd;
    --color-dark: #222;
    --text-grey: #8390a2;
    background-color: #222;
    color: #ddd;
}

.dark-mode .container,
.dark-mode header,
.dark-mode main,
.dark-mode .card {
    background-color: #333;
    color: #ddd;
}

.dark-mode header h2,
.dark-mode header a {
    color: #ddd;
}

.dark-mode #bubble {
    background-color: #222;
    color: #ddd;
}

.dark-mode td {
    color: #ddd;
}

.dark-mode .quiz-container {
    background-color: #333;
    color: #ddd;
    box-shadow: 0px 0px 10px rgba(221, 221, 221, 0.1);
}

.dark-mode .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dark-mode .option {
    background-color: #222;
    color: #ddd;
    box-shadow: 0px 0px 5px rgba(221, 221, 221, 0.1);
}

.dark-mode .option:hover {
    transform: scale(1.02);
}

.dark-mode .option input[type='radio'] {
    margin-right: 10px;
}

.dark-mode .slidecontainer {
    width: 100%;
}

.dark-mode .slider {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #555;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.dark-mode .slider:hover {
    opacity: 1;
}

.dark-mode .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ddd;
    cursor: pointer;
}

.dark-mode .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ddd;
    cursor: pointer;
}

.dark-mode #result-box {
    background-color: #2f3136;
    color: #b2b3b5;
}

.dark-mode .score-tile {
    background-color: #202225;
    color: #b2b3b5;
}

.dark-mode .score-tile h5 {
    color: #b2b3b5;
}

.dark-mode .score-tile p {
    color: #8c8d92;
}

.dark-mode .score-tile span {
    color: #b2b3b5;
}

.dark-mode .footer-content {
    background-color: #2c2c2c;
    color: #fff;
}

.dark-mode .footer-content .end-review-btn {
    background-color: #fff;
    color: #333;
}

.dark-mode .score-bubble {
    background-color: #fff;
    color: #333;
}

.dark-mode .score-bubble::before {
    background-color: #fff;
}

.dark-mode .score-bubble.inactive {
    background-color: #585858;
    color: #fff;
}

.dark-mode .score-bubble.active {
    background-color: #333;
    color: #fff;
}

.dark-mode .footer-content .copyright,
.dark-mode .copyright a,
.dark-mode .round-progress-text {
    color: #fff;
}
